/* General Styles */
body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

/* Text Styles */
h1 {
    font-size: 300px;
    text-shadow: 4px 4px 12px rgba(0.5, 0.5, 0.5, 0.5);
    color: white;
}

h2 {
    font-size: 50px;
}

p{
    line-height: 1.6;
}

/* Navigation Bar */
.navbar {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding: 16px 32px;
    background-color: #fff;
    padding-bottom: 17px;
    z-index: 999;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: border-bottom 0.15s ease, font-weight 0.15s ease;
}

.navbar a:hover {
    color: black;
    border-bottom: 3px solid #bebebe; 
    font-weight: bold; /* Bold text on hover */
}

.newtro-page .navbar a.active {
    border-bottom: 3px solid #bebebe;
    font-weight: bold;
}

.about-page .navbar a.active {
    border-bottom: 3px solid #fddf8e;
    font-weight: bold;
}

.architecture-page .navbar a.active {
    border-bottom: 3px solid #b3ddfe;
    font-weight: bold; 
}

.fashion-page .navbar a.active {
    border-bottom: 3px solid #ffc0cb;
    font-weight: bold;
}

.products-page .navbar a.active {
    border-bottom: 3px solid #bfd8c4;
    font-weight: bold;
}

/* Background Image */
.background-image {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
}

/* Centered Content */
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/* Header Styles */
.header{
    padding-bottom: 60px;
}
.header h2 {
    text-align: center;
}
.header-text {
    width: 50%; 
    margin-left: auto; /* Center the text block */
    margin-right: auto;
    line-height: 1.8;
}

/* Section Styles */
.page-content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section {
    flex: 0 0 calc(33.333% - 20px);
    box-sizing: border-box;
    justify-content: flex-end;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligns content to the bottom */
    height: 800px; 
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    width: 80%;
    margin: auto;
}

.section h2,
.section p,
.section a {
    margin-top: 15px;
    margin-bottom: 15px; 
}

.section:not(:last-child):after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    width: 1px;
}

/* Specific Section Backgrounds */
#architecture-section, #fashion-section, #products-section {
    background-size: cover;
    background-position: center;
}

#architecture-section {
    background-image: url('images/cafe.jpg');
    opacity: 0.65; 
    transition: opacity 0.3s ease; 
}

#fashion-section {
    background-image: url('images/hanbok.jpg');
    opacity: 0.65; 
    transition: opacity 0.3s ease;
}

#products-section {
    background-image: url('images/food.png');
    opacity: 0.65; 
    transition: opacity 0.3s ease; 
}

#architecture-section:hover, #fashion-section:hover, #products-section:hover {
    opacity: 1; 
}

.hidden-text {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}

.section:hover .hidden-text {
    display: block;
    opacity: 1;
}

/* Button Styles */
.round-button {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto 0;
    padding: 10px 40px;
    background-color: rgba(255, 255, 255, 0.573);
    border: 1.5px solid black;
    color: black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

.round-button:hover {
    background-color: #8d8d8d;
    color: black;
}

.image-container {
    float: left;
    margin-right: 20px; /*separate image and text */
}

/* Style for the image itself */
.image-container img {
    max-width: 500px; 
}

/* Footer Styles */
footer {
    background-color: #d6ccc2;
    color: black;
    text-align: left;
    padding: 3%; /* Add padding to the footer */
    position: relative;
    bottom: 0;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 100px;
}

/* About Page Styles */
.about-page {
    background-color: #fddf8e; 
}

.about-content {
    max-width: 50%; 
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    background-color: #fddf8e;
}

.about-image {
    width: 100%; 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* architecture Page Styles */
.architecture-page {
    background-color: #b3ddfe; 
}

.architecture-content {
    max-width: 50%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 7px;
}

.column img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
}

/* fashion Page Styles */
.fashion-page {
    background-color: #ffc0cb;
}

.fashion-content {
    max-width: 50%; 
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; 
}

/* products Page Styles */
.products-page {
    background-color: #bfd8c4;
}

.products-content {
    max-width: 50%; 
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; 
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    h1 {
        font-size: 120px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    p{
        line-height: 1.4;
        font-size: 16px;
    }
    
    .about-content,
    .architecture-content,
    .fashion-content,
    .products-content
     {
        max-width: 50%; 
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
     }

    .row {
        display: flex;
        flex-direction: column;
      }
      
      .column {
        flex: 33.33%;
        padding: 7px;
      }

      footer p{
        font-size: 13px;
    }

    .header-text {
        width: 60%; 
    }

    .round-button {
        font-size: 16px;
    }


}

@media screen and (max-width: 710px) {
    h1 {
        font-size: 0px;
        text-shadow: 4px 4px 12px rgba(0.5, 0.5, 0.5, 0.5);
        color: white;
    }
    
    h2 {
        font-size: 20px;
    }
    
    p{
        line-height: 1.2;
        font-size: 14px;
    }

    .about-content,
    .architecture-content,
    .fashion-content,
    .products-content
     {
        max-width: 60%; 
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
    }

    footer p{
        font-size: 10px;
    }

    .header-text {
        width: 70%; 
    }

    .round-button {
        font-size: 12px;
    }


}