/* General Styles */
body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Text Styles */
h1 {
    font-size: 300px;
    text-shadow: 8px 8px 12px rgba(0.5, 0.5, 0.5, 0.5);
    font-family: 'Righteous', sans-serif;
}

h2 {
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}

p{
    line-height: 1.6;
}

a{
    text-decoration: none;
}

.centered-content h1 {
    margin: 0; 
}

/* Navigation Bar */
.navbar {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding: 16px 32px;
    background-color: #fff;
    padding-bottom: 17px;
    z-index: 999;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: border-bottom 0.15s ease, font-weight 0.15s ease;
}

.navbar a:hover {
    color: black;
    border-bottom: 3px solid #bebebe; 
    font-family: 'Righteous', sans-serif;
}

.newtro-page .navbar a.active {
    border-bottom: 3px solid #bebebe;
    font-family: 'Righteous', sans-serif;
}

.about-page .navbar a.active {
    border-bottom: 3px solid #fddf8e;
    font-family: 'Righteous', sans-serif;
}

.architecture-page .navbar a.active {
    border-bottom: 3px solid #b3ddfe;
    font-family: 'Righteous', sans-serif;
}

.fashion-page .navbar a.active {
    border-bottom: 3px solid #ffc0cb;
    font-family: 'Righteous', sans-serif;
}

.products-page .navbar a.active {
    border-bottom: 3px solid #bfd8c4;
    font-family: 'Righteous', sans-serif;
}

/* Newtro description */
.scroll-link {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
}

.scroll-content:hover {
    /* Add your desired hover styles here */
    text-shadow: 4px 4px 12px rgba(0.5, 0.5, 0.5, 0.5);
    color:#d6ccc2;
    cursor: pointer; 
    transition: transform 0.3s ease-in-out;
}

.background-image {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
}

.explore-link {
    text-decoration: none; 
    color: #000;
    display: flex; 
    flex-direction: column; 
    align-items: center; /* Center align text and arrow horizontally */
}

/* Centered Content */
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/* Header Styles */
.header{
    padding-top: 150px;
    padding-bottom: 150px;
}
.header h2 {
    text-align: center;
}
.header-text {
    width: 50%; 
    margin-left: auto; /* Center the text block */
    margin-right: auto;
    line-height: 1.8;
}

/* Section Styles */
.page-content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section {
    flex: 0 0 calc(33.333% - 20px);
    box-sizing: border-box;
    justify-content: flex-end;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligns content to the bottom */
    height: 800px; 
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    width: 80%;
    margin: auto;
}

.section h2,
.section p,
.section a {
    margin-top: 15px;
    margin-bottom: 15px; 
}

.large-icon {
    font-size: 56px;
}

.section:not(:last-child):after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    width: 1px;
}

/* Specific Section */

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.grid-item1 {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    height: 700px;
}

.grid-item1 img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.text-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:end;
    background-color: rgba(255, 255, 255, 0.819);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.grid-item1:hover .text-overlay2 {
    opacity: 1;
}

.text-content2 {
    padding: 20px;
}

/* Button Styles */
.round-button {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto 0;
    padding: 10px 40px;
    background-color: rgba(255, 255, 255, 0.573);
    border: 1.5px solid black;
    color: black;
    font-size: 20px;
    text-decoration: none;
    transition: all .3s;
}

.round-button:hover {
    background-color: #d6ccc2;
    color: black;
}

/* Footer Styles */
.footer {
    background-color: #d6ccc2;
    color: black;
    text-align: left;
    position: relative;
    bottom: 0;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 100px;
    padding: 40px;
}

/* About Page Styles */
.about-page {
    background-color: #fddf8e; 
}

.about-content {
    max-width: 50%; 
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    background-color: #fddf8e;
}

.about-image {
    border: 10px solid #e0a500;
    width: 100%; 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* architecture Page Styles */
.architecture-image {
    border: 10px solid #1b8fe7;
    width: 100%;
}
.architecture-page {
    background-color: #b3ddfe; 
}

.architecture-content {
    max-width: 50%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 7px;
}

.column img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
}

/* fashion Page Styles */
.fashion-image{
    width: 100%;
}
.fashion-page {
    background-color: #ffc0cb;
}

.fashion-content {
    max-width: 50%; 
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; 
}

/* products Page Styles */
.products-image{
    border: 10px solid #6ecd81;
    width: 100%;
}
.products-page {
    background-color: #bfd8c4;
}

.products-content {
    max-width: 50%; 
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; 
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {

    h1 {
        font-size: 120px;
    }
    
    h2 {
        font-size: 30px;
    }

    .large-icon {
        font-size: 35px;
    }
    
    p{
        line-height: 1.4;
        font-size: 16px;
    }
    
    .about-content,
    .architecture-content,
    .fashion-content,
    .products-content
     {
        max-width: 50%; 
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
     }

    .row {
        display: flex;
        flex-direction: column;
      }
      
      .column {
        flex: 33.33%;
        padding: 7px;
      }

      footer p{
        font-size: 13px;
    }

    .header-text {
        width: 60%; 
    }

    .round-button {
        font-size: 16px;
    }


}

@media screen and (max-width: 710px) {
    .navbar {
        padding: 16px 0;
        }
    
        .navbar a {
        float: none;
        padding: 10px 0; /* Adjust padding for spacing */
        text-align: center;
        font-size: 15px;
        }
    
    h1 {
        font-size: 100px;
        text-shadow: 4px 4px 12px rgba(0.5, 0.5, 0.5, 0.5);
        color: white;
    }
    
    h2 {
        font-size: 20px;
    }

    .large-icon {
        font-size: 25px;
    }
    
    p{
        line-height: 1.2;
        font-size: 14px;
    }

    .grid-container1 {
        grid-template-columns: 1fr;
    }

    .about-content,
    .architecture-content,
    .fashion-content,
    .products-content
     {
        max-width: 60%; 
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
    }

    footer p{
        font-size: 10px;
    }

    .header-text {
        width: 70%; 
    }

    .round-button {
        font-size: 12px;
    }


}