body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/* navigation bar */
.navbar {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding: 16px 32px;
    background-color: #fff;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* background image on home */
.background-image {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto; /* Adjusts the height automatically */
    margin-top: 60px; /* Add margin to top equal to navbar height */
}

.responsive-image {
    width: 100%; /* Makes the image fill the container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes any default inline spacing */
}

/*newtro page*/
ul {
    list-style-type: none;
}

/* Style for buttons */
.button a {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    border: none;
    transition: background-color 0.3s ease;
    border: none;
}

/* Hover effect for buttons */
.button a:hover {
    background-color: grey;
}

/* footer */
footer {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px 0;
    position: relative;
}

@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left;
    }

    .centered-content h1 {
        font-size: 24px;
    }
    .centered-content p {
        font-size: 16px;
    }
}

/* about page */

/* Style for the image */
.about-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Creates space between the image and text */
    display: block; /* This ensures the image behaves as a block-level element */
    margin-left: auto; /* These two margin settings center the image */
    margin-right: auto;
}

/* Style for the page content */
.page-content {
    width: 100%;
    max-width: 800px; /* Adjust the max-width as needed */
    margin: 0 auto;
    padding: 0 20px; /* Adds padding inside the content box */
}