p {
    color:white; 
    font-size: 20px;
    font-family: 'Courier New';
    margin-right: 500px;
    margin-left: 500px;
}

h1{
    margin-right: 500px;
    margin-left: 500px;
}

h2{
    color:white; 
    font-size: 24px;
    font-family: 'Courier New';
    margin-right: 500px;
    margin-left: 500px;
}

.firstparagraph {
    color: greenyellow;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#first {
    border: 1px solid purple;
}

.highlight{
    font-weight: bold;
}
