html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
    padding-top: 40px;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	background-image: url("https://images6.alphacoders.com/132/1323881.png");
    background-size: cover;
    content: cover;
	color: #ddf2d1;
}


h1 {
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 1;
	padding: 0;
	margin: 0 0 .5em 0;
}

h2 {
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1;
	padding: 0;
	margin: 0 0 1em 0;
}

h3 {
	font-size: 1.3rem;
	font-weight: 00;
	line-height: 1;
	padding: 0;
	margin: 0 0 .5em 0;
}

p {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.3;
	padding: 0;
	margin: 0 0 0 0;
}


header {
	text-align: center;
	padding: 60px 30px 40px 30px;
}

section {
	max-width: 1200px;
	padding: 0 30px;
	margin: auto;
}

.portfolio_item {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 20px 30px 20px;
    margin: 10px;
    width: calc(33% - 20px); /* Adjusted width */
    height: 440px;
    transition: all .4s ease; /* Smooth transition for hover effects */
    text-decoration: none;
    color: #333;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.8); /* White background with opacity */
    border-radius: 10px; /* Rounds the corners */
    height: 650px;
}

.portfolio_item:hover {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
    transform: scale(1.05); /* Slightly increase the size on hover */
    background-color: rgba(255, 255, 255, 1); /* Full opacity on hover */
}


.portfolio_image {
	width: 100%;
	height: 300px;
	background-color: #ccc;
	margin-bottom: 15px;
	background-size: cover;
	background-position: center;
	background-repeat: none;
}

footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 80px 30px 30px 30px;
	text-align: center;
	font-size: .8rem;
}

footer a {
	color: #279989;
	text-decoration: underline;
}

footer a:hover {
	color: #117a6b;
}


@media screen and (max-width: 1000px) {
	.portfolio_item {
		width: calc(50% - 20px);
		height: 440px;
		margin-bottom: 20px;
	}

	footer {
		position: relative;
		bottom: auto;
		left: auto;
		right: auto;
		padding: 60px 30px 30px 30px;
	}
}

@media screen and (max-width: 580px) {
	.portfolio_item {
		display: block;
		width: 100%;
		height: 440px;
		margin-bottom: 20px;
	}

	h2 {
		line-height: 1.3;
		margin-bottom: .5em;
	}

}
/*
@media screen and (min-height: 780px) {
	footer {
		position: relative;
		bottom: auto;
		left: auto;
		right: auto;
	}

}*/