html {
    font-family: 'Rig sans', sans-serif;
    font-size: 20pt;
  }

  header{
    text-align: center;
    background-image: url(../img/dalgona.jpeg);
    background-size: cover;
    background-position: center 40%;
    color: black;
    padding-top: 200px;  
    padding-bottom: 200px;
  }

  .ingredient-container {
    display: flex;
    justify-content: space-between; 
  }
  
  .ingredient {
    flex: 1; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #F9E79F;
    margin: 0 10px; 
  }

  .small-image {
    width: 900px;
    height: auto;
}

  article{
    margin: 23%;
    margin-top: 1%;
   }

  section{
    font-size: 35px;
    padding-top: 20px;  
    padding-bottom: 20px;
  }

  section.section3{
    background-color: #F9E79F;
    text-align: center;
  } 

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 7px;
  }

  .center {
    text-align: center;
  }

  h1{
    color: #5C4033;
    text-transform: capitalize;
    text-indent: -1rem;
    font-family: 'Rig sans', sans-serif;
  }

  h2{
    color: #5C4033;
    font-size: 25px;
    line-height: 1.1;
  }

  h3{
    color: #5C4033;
    font-size: 20px;
    line-height: 1.1;
  }

  p{
    font-size: 12pt;
    line-height: 1.5;
  }

 