html {
    font-family: 'Rig sans', sans-serif;
    font-size: 24pt;
  }

  @media (max-width: 768px) and (min-width: 320px){

    html {
      font-size: 20pt;
    }
  
    header {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  
    .ingredient-container {
      flex-direction: column;
      margin-top: 6%; 
      margin-bottom: 1%; 
    }
  
    .ingredient {
      margin: 10px 0;
      margin-top: 10px;
      margin-bottom: 10px; 

    }

    .row {
      display: flex;
      flex-direction: column;
    }
    
    .column {
      flex: 33.33%;
      padding: 7px;
    }
  
    article {
      margin: 5%;
    }
  
    section {
      font-size: 25px;
    }
  
    .column {
      flex: 1;
      padding: 5px;
    }

    h1{
      font-size: 40px;
    }

    h2 {
      font-size: 0.3rem;
    }
  
    h3 {
      font-size: 0.2rem;
    }
  
   
  
    article h2 + p {
      font-size: 0.45rem; 
    }
  
  }


  header{
    text-align: center;
    background-image: url(../img/dalgona.jpeg);
    background-size: cover;
    background-position: center 40%;
    color: black;
    padding-top: 200px;  
    padding-bottom: 200px;
  }

  .ingredient-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin-top: 1%;
  }
  
  .ingredient {
    flex: 1; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 14px;
    text-align: center;
    background-color: #F9E79F;
    margin: 0 6px;
    margin-bottom: 13px;

  }

  .small-image {
    max-width: 100%;
    height: auto;
}

  article{
    margin: 23%;
    margin-top: 1%;
   }

  section{
    font-size: 35px;
    padding-top: 20px;  
    padding-bottom: 20px;
  }

  section.section3{
    background-color: #F9E79F;
    text-align: center;
  } 

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 7px;
  }

  .center {
    text-align: center;
  }

  h1{
    color: #5C4033;
    text-transform: capitalize;
    text-indent: -1rem;
    font-family: 'Rig sans', sans-serif;
  }

  h2{
    color: #5C4033;
    font-size: 1rem;
    line-height: 1.1;
  }

  h3{
    color: #5C4033;
    font-size: 0.6rem;
    line-height: 1.1;
  }

  p {
    font-size: 0.5rem;
    line-height: 1.5;
  }

 