  html {
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Rig sans', sans-serif;
    font-size: 22pt;
  }

  .center {
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  body{
   margin: 25%;
   margin-top: 10%;
  }

  h1{
    color: #fab23d;
    text-transform: capitalize;
    text-indent: -1rem;
    font-family: 'Rig sans', sans-serif;
  }

  h2{
    color: #F9E79F;
    font-size: 15pt;
    letter-spacing: -0.02em;
    text-indent: -1rem;
    font-family: 'Rig sans', sans-serif;
    font-style: normal;
  }

  p{
    font-size: 13pt;
    line-height: 1.5;
  }

  d{
    font-size: 15pt;
  }

  a{
    color:#fab23d;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  article{
    margin: 4rem 0;
    margin-left: 100px;
  }

  section{
    margin: 1.5em 0;
  }