  html {
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Rig sans', sans-serif;
    font-size: 22pt;
  }

  .center {
    text-align: center;
  }

  body{
   margin: 10%;
  }

  h1{
    color: #ffc811;
    text-transform: capitalize;
    text-indent: -1rem;
    font-family: 'Rig sans', sans-serif;
  }

  h2{
    color: #fab23d;
    font-size: 15pt;
    letter-spacing: -0.02em;
    text-indent: -1rem;
    font-family: 'Cascadia Code', sans-serif;
    font-style: normal;
  }

  p{
    font-size: 18pt;
    line-height: 1.5;
  }

  d{
    font-size: 15pt;
  }

  a{
    color:#fab23d;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  article{
    margin: 4rem 0;
    margin-left: 100px;
  }

  section{
    margin: 1.5em 0;
  }