p {
    color:black; 
    font-size: 20px;
    font-family: 'helvetica';
    margin-right: 500px;
    margin-left: 500px;
}

.musictitle{
    color:purple; 
    font-size: 40px;
    font-family:'helvetica';
    padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 30px;
    padding-left: 80px;
}

h1{
    margin-right: 500px;
    margin-left: 500px;
    
}

h2{
    font-size: 23px;
    font-family: 'Georgia';
    margin-right: 500px;
    margin-left: 500px;
}

.firstparagraph {
    color: purple;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }

  #grad {
    background-image: linear-gradient(thistle, darkgray);
  }