header {
    margin-bottom: 3rem;
  }

  p{
    line-height: 1.6;
  }

  a.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
  }

  h1{
    font-size: 2.5rem;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1rem;
  }

  h1, h2{
    font-weight: lighter;
  }

  .cast img {
    width: 100%;
  }
  
  .cast li {
    width: 25%;
  }

  .shows h1 {
    border-top: 1px solid black;
    display: block;
  }

  .selected a {
    font-weight: bold;
    color: black;
  }

  .cast div {
    font-size: 0.8rem;
  }

  .cast div:nth-child(even) {
    font-weight: bold;
  }

  .cast div:nth-child(odd) {
    font-style: italic;
  }

  #game-of-thrones .seasons ul li:last-child::after {
    content: " *";
  }

  #game-of-thrones .seasons ul::after {
    content: "* Final Season";
    display: block;
    font-size: 0.7rem;
    color: #999;
  }